AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
COMFYUI_PATH=${COMFYUI_PATH}
S3_MODELS_BASE=${S3_MODELS_BASE}
S3_NODES_BASE=${S3_NODES_BASE}
SYNC_PARALLEL=3
SYNC_STALL_SECS=8
